@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500&amp;subset=cyrillic,hebrew,latin-ext');

/*

$light-gray: #f9faf8;
$gray: #f1f2eb;
$dark-gray: #3e4e50;
$accent: #ffd151;
$blue: #2274a5;
$red: #f06449;

 */

* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: #3e4e50;
}

body {
    margin: 14px;
}

table {
    border-collapse: collapse;
}

tr {
    border: 1px solid #f1f2eb;
    background-color: #fff;
}

tr.feature.on {
    background-color: #dbffd7;
}

tr.feature.on:hover {
    background-color: #A5DDAD;
}

th {
    font-weight: 500;
}

td {
    text-align: center;
}

td > a {
    display: block;
    padding: 10px;
    text-decoration: none;
}

tr:hover {
    text-decoration: underline;
}

td.name {
    white-space: nowrap;
}

td.name, td.description {
    text-align: left;
}

th {
    background: #f9faf8;
}

:target {
    animation: target-fade 2s 1;
}

@keyframes target-fade {
    0% {
        background-color: #880000;
    }
    100% {
        background-color: inherit;
    }
}

tr:hover {
    background-color: #f1f2eb;
}

table, textarea, input[type=text] {
    width: 100%;
}

caption {
    background-color: #8db2b6;
    color: white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 7px;
    font-size: 2.5rem;
    font-weight: 500;
}

caption .button {
    font-size: 1rem;
    float: right;
}

caption .active {
    font-size: 1rem;
    float: left;
}

table {
    border-left: 1px solid #3498db;
    border-right: 1px solid #3498db;
}

form {
    margin: 0;
    padding: 0;
}

.active input {
    display: none;
}

.active label {
    display: inline-block;
    padding: 10px 15px;
    font-weight: normal;
    line-height: 1.5;
    border-radius: 25px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    user-select: none;
}

.active label[for=on] {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 5px;
}

.active label[for=off] {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 5px;
}

.active #on:checked ~ label {
    border: #2274a5 2px solid;
    background-color: #2274a5;
    color: #fff
}

.active #on:checked ~ label[for=off] {
    color: #2274a5;
}

.active #off:checked ~ label {
    border: #f1f2eb 2px solid;
    background-color: #f1f2eb;
    color: #3e4e50;
}

.active #off:checked ~ label[for=on] {
    color: #f1f2eb;
}

.active {
    position: relative;
}

.active label::after {
    cursor: pointer;
    position: absolute;
    display: block;
    width: 2.2rem;
    height: 2.2rem;
    background-color: #fff;
    border-radius: 1.5rem;
    top: 50%;
    margin-top: -1.1rem;
    content: "";
    transition: right 0.2s;
}

.active #on:checked ~ label::after{
    right: 7px;
}

.active #off:checked ~ label::after{
    right: calc(50%);
}

.active #on:checked ~ label[for=on]::after{
    visibility: hidden;
}

.active #off:checked ~ label[for=off]::after{
    visibility: hidden;
}


.button {
    display: inline-block;
    border: #2274a5 2px solid;
    padding: 10px 25px;
    font-weight: normal;
    line-height: 1.5;
    border-radius: 25px;
    background-color: #fff;
    color: #2274a5;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1em
}

.button:focus, .button:hover, .button:active {
    cursor: pointer;
    background-color: #2274a5;
    color: #fff
}

.button:link, .button:visited {
    text-decoration: none
}

.button.danger {
    border: #a50400 2px solid;
    background-color: #fff;
    color: #c70500;
}

.button.danger:focus, .button.danger:hover, .button.danger:active {
    background-color: #a50400;
    color: #fff;
}

input[type=text], input[type=email], input[type=number], textarea {
    border: 1px solid #eee;
    color: inherit;
    height: 48px;
    padding: 0 20px;
    min-width: 240px;
    font-size: 1rem
}

textarea {
    padding: 20px;
}

input[type=text]:hover, input[type=text]:focus, input[type=email]:hover, input[type=email]:focus, input[type=number]:hover, input[type=number]:focus, textarea:hover, textarea:focus {
    border-color: #2274a5
}

input[type=text]:focus, input[type=email]:focus, textarea:focus, input[type=number]:hover, input[type=number]:focus {
    outline: 0 none;
    box-shadow: 0 0 3px #2b92cf
}